
.icon-record:before { content: '\e800'; } /* '' */
.icon-star-circled:before { content: '\e801'; } /* '' */
.icon-ok-circled:before { content: '\e802'; } /* '' */
.icon-plus-circled:before { content: '\e803'; } /* '' */
.icon-minus-circled:before { content: '\e804'; } /* '' */
.icon-wrench:before { content: '\e805'; } /* '' */
.icon-mail:before { content: '\e806'; } /* '' */
.icon-gmail:before { content: '\e807'; } /* '' */
.icon-mail-circled:before { content: '\e808'; } /* '' */
.icon-email:before { content: '\e809'; } /* '' */
.icon-mail-1:before { content: '\e80a'; } /* '' */
.icon-home:before { content: '\e80b'; } /* '' */
.icon-home-1:before { content: '\e80c'; } /* '' */
.icon-desktop:before { content: '\e80d'; } /* '' */
.icon-camera-alt:before { content: '\e80e'; } /* '' */
.icon-users:before { content: '\e80f'; } /* '' */
.icon-home-2:before { content: '\e810'; } /* '' */
.icon-home-3:before { content: '\e811'; } /* '' */
.icon-calendar:before { content: '\e812'; } /* '' */
.icon-commerical-building:before { content: '\e813'; } /* '' */
.icon-art-gallery:before { content: '\e814'; } /* '' */
.icon-briefcase:before { content: '\e815'; } /* '' */
.icon-chat:before { content: '\f03d'; } /* '' */
.icon-github-circled-alt:before { content: '\f053'; } /* '' */
.icon-linkedin:before { content: '\f05c'; } /* '' */
.icon-laptop:before { content: '\f109'; } /* '' */
.icon-graduation-cap:before { content: '\f19d'; } /* '' */
.icon-chart-pie:before { content: '\f200'; } /* '' */
.icon-chart-line:before { content: '\f201'; } /* '' */
.icon-gitlab:before { content: '\f296'; } /* '' */
.icon-linkedin-1:before { content: '\f318'; } /* '' */