@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?60081117');
  src: url('../font/fontello.eot?60081117#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?60081117') format('woff2'),
       url('../font/fontello.woff?60081117') format('woff'),
       url('../font/fontello.ttf?60081117') format('truetype'),
       url('../font/fontello.svg?60081117#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?60081117#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-record:before { content: '\e800'; } /* '' */
.icon-star-circled:before { content: '\e801'; } /* '' */
.icon-ok-circled:before { content: '\e802'; } /* '' */
.icon-plus-circled:before { content: '\e803'; } /* '' */
.icon-minus-circled:before { content: '\e804'; } /* '' */
.icon-wrench:before { content: '\e805'; } /* '' */
.icon-mail:before { content: '\e806'; } /* '' */
.icon-gmail:before { content: '\e807'; } /* '' */
.icon-mail-circled:before { content: '\e808'; } /* '' */
.icon-email:before { content: '\e809'; } /* '' */
.icon-mail-1:before { content: '\e80a'; } /* '' */
.icon-home:before { content: '\e80b'; } /* '' */
.icon-home-1:before { content: '\e80c'; } /* '' */
.icon-desktop:before { content: '\e80d'; } /* '' */
.icon-camera-alt:before { content: '\e80e'; } /* '' */
.icon-users:before { content: '\e80f'; } /* '' */
.icon-home-2:before { content: '\e810'; } /* '' */
.icon-home-3:before { content: '\e811'; } /* '' */
.icon-calendar:before { content: '\e812'; } /* '' */
.icon-commerical-building:before { content: '\e813'; } /* '' */
.icon-art-gallery:before { content: '\e814'; } /* '' */
.icon-briefcase:before { content: '\e815'; } /* '' */
.icon-chat:before { content: '\f03d'; } /* '' */
.icon-github-circled-alt:before { content: '\f053'; } /* '' */
.icon-linkedin:before { content: '\f05c'; } /* '' */
.icon-laptop:before { content: '\f109'; } /* '' */
.icon-graduation-cap:before { content: '\f19d'; } /* '' */
.icon-chart-pie:before { content: '\f200'; } /* '' */
.icon-chart-line:before { content: '\f201'; } /* '' */
.icon-gitlab:before { content: '\f296'; } /* '' */
.icon-linkedin-1:before { content: '\f318'; } /* '' */