<!DOCTYPE html>
<html lang="pl">
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Strona wizytówka.">
    <meta name="keywords" content="spring, java, html5, css">
    <meta name="author" content="Tomasz Szczucki, Adam Stępień">
    <meta http-equiv="X-Ua-Compatible" content="IE=edge">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/../../static/css/fontello.css" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&amp;subset=latin-ext" rel="stylesheet">
    <link rel="stylesheet" href="/../static/css/mainCodefolio.css" th:href="@{/css/mainCodefolio.css}" type="text/css"/>

    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->

</head>

<body>

<div th:fragment="header">
    <header>
        <nav>
            <nav class="navbar bg-light navbar-light navbar-expand-lg">

                <a class="navbar-brand" href="/"><i class="icon-home mr-2"></i><span
                        class="d-none d-lg-inline-block"> codefolio</span></a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainmenu"
                        aria-controls="mainmenu" aria-expanded="false" aria-label="Przełącznik nawigacji">

                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="mainmenu">

                    <ul class="navbar-nav mr-auto">

                        <li class="nav-item">
                            <a class="nav-link" href="/"> Strona główna </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/Tomasz"> Tomasz Szczucki </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/Adam"> Adam Stępień </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/chooseCandidate">Edit candidate</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/login">Login</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/register">Register</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="index.html" data-toggle="dropdown" role="button"
                               aria-expanded="false" aria-haspopup="true" id="submenu"> Kontakt </a>

                            <div class="dropdown-menu" aria-labelledby="submenu">

                                <a class="dropdown-item" href="/contact/Tomasz"> do Tomka </a>

                                <div class="dropdown-divider"></div>

                                <a class="dropdown-item" href="/contact/Adam"> do Adama </a>

                            </div>

                        </li>

                    </ul>

                    <form action="" class="form-inline">

                        <input class="form-control mr-1" type="search" placeholder="Wyszukaj" aria-label="Wyszukaj">

                        <button class="btn btn-danger" type="submit">Znajdź</button>

                    </form>

                </div>

            </nav>

            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                    crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
                    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
                    crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
                    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
                    crossorigin="anonymous"></script>
            <script>
                $(document).ready(function () {
                    $('.dropdown-toggle').dropdown();
                });

            </script>
            <script>
                $('.navbar-nav>li>a').on('click', function(){
                    $('.navbar-collapse').collapse('hide');
                });

            </script>
        </nav>
    </header>
</div>

</body>
</html>