
.icon-home:before { content: '\e800'; } /* '' */
.icon-mail:before { content: '\e801'; } /* '' */
.icon-emo-displeased:before { content: '\e80a'; } /* '' */
.icon-linkedin-squared:before { content: '\f30c'; } /* '' */