html
{
	min-height:100%;
	position:relative;
}

body
{
	/* Background pattern from Toptal Subtle Patterns */
	background-image:url("tlo.png");
	font-family: 'Open Sans', sans-serif;
}

.footer
{
	position:absolute;
   width:100%;
   height:50px;   /* Height of the footer */
   background:#F8F9FA;
   margin-top: 50px;
   bottom:0;
   left:0;
   padding-top: 10px;
   overflow:hidden;
}

.container
{
	margin-top:100px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:150px;
	padding: 20px;
	
	width:900px;
    border: 1px solid #ccc;
    background-color: #f3f3f3;
	padding:20px;
	text-align: center;
	
	
-webkit-box-shadow: 10px 10px 40px -2px rgba(162,161,163,1);
-moz-box-shadow: 10px 10px 40px -2px rgba(162,161,163,1);
box-shadow: 10px 10px 40px -2px rgba(162,161,163,1);
}
