<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->

    <!-- Thymeleaf -->
    <meta charset="UTF-8">
    <!-- other -->
    <title>Codefolio - developer</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/../../static/css/fontello.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&amp;subset=latin-ext" rel="stylesheet">
</head>
<body>
<div th:include="fragments/header :: header"></div>
<div>
    <h1>THIS IS DEVELOPER'S PAGE MOFO!!!</h1>
</div>

<div>
    <img th:src="@{/images/{photo}(photo=${developer.photo})}" width="100" height="200"/>
</div>

<div>
    <p th:text="${developer.name}">
    <p th:text="${developer.surname}">
</div>

<div th:each="skill : ${developer.skills}">
    <p th:text="${skill.name}"></p>
    <p th:text="${skill.proficiency}"></p>
</div>

<div>
    <p>BIO-CEL ZAWODOWY</p>
</div>

<div>
    <p th:text="PROJEKY"></p>
    <p><a th:href=@{{gitLab}(gitLab=${developer.contact.gitLab})}>GitLab</a></p>
    <div th:each="project:${developer.projects}">
        <!--<img th:src="@{/images/{imgLink}(imgLink=${project.imglink})}" width="200" height="100"/>-->
        <p th:text="${project.projectName}"></p>
        <p th:text="${project.gitLink}"></p>
        <p th:text="${project.description}"></p>
        <p th:text="${project.downloadLink}"></p>
    </div>
</div>

<div>
    <p th:text="KONTAKT"></p>
    <p><a th:href="@{{mail}(mail=${developer.contact.email})}">E-mail</a></p>
    <p><a th:href="@{{linkedIn}(linkedIn=${developer.contact.linkedIn})}">LinkedIn</a></p>
</div>
<div class="row">
    <!--  <a th:href="@{/printCV}">PRRRRRRRRRRRRRRRRRRRINT CV</a>-->
    <a th:href="@{{name}/printCV(name=${developer.name})}">PRRRRRRRRRRRRRRRRRRRINT CV</a>
</div>

<div th:include="fragments/footer :: footer"></div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>