<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- Thymeleaf -->
    <meta charset="UTF-8">
    <!-- other -->
    <title>Codefolio - contact</title>
</head>
<body>
<div th:include="fragments/header :: header"></div>
<h1>EDIT EMPLOYMENTS</h1>


<form th:object="${employmentListForm}" th:action="@{/editCandidate/editEmployments}" method="post">   <!--   -->
    <table>
        <tbody>
        <tr th:each="employment, edStat : *{employmentList}">
            <td
                    th:text="${edStat.count}">1
            </td>
            <td>
                Company
                <input type="text" class="form-control" th:field="*{employmentList[__${edStat.index}__].company}"/>
            </td>
            <td>
                <br>Date from
                <input type="text" class="form-control" th:field="*{employmentList[__${edStat.index}__].dateFrom}"/>
            </td>
            <td>
                Date to
                <input type="text" class="form-control" th:field="*{employmentList[__${edStat.index}__].dateTo}"/>
            </td>
            <td>
                <br><br>Position
                <input type="text" class="form-control" th:field="*{employmentList[__${edStat.index}__].position}"/>
            </td>
            <td>
                Responsibilities
                <input type="text" class="form-control" th:field="*{employmentList[__${edStat.index}__].responsibilities}"/>
            </td>
            <td>
                <button type="submit" name="remove" th:value="*{employmentList[__${edStat.index}__].viewId}" class="button">Remove employment</button>
            </td>

        <tr>
            --------------------------
        </tr>
        </tr>
        <div class="row">
            <button type="submit" name="add" class="button">Add employment</button>
        </div>
        <div class="row">
            <button type="submit" name="saveAndProceed" class="button">Save and Proceed</button>
        </div>

        </tbody>
    </table>
</form>




<script src="/js/main.js"></script>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>
</html>