<!doctype html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Codefolio</title>
    <meta name="description" content="Strona wizytówka.">
    <meta name="keywords" content="spring, java, html5, css">
    <meta name="author" content="Tomasz Szczucki, Adam Stępień">
    <meta http-equiv="X-Ua-Compatible" content="IE=edge">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/../static/css/fontelo.css" th:href="@{/css/fontello.css}" type="text/css"/>
    <link rel="stylesheet" href="/../static/css/mainCodefolio.css" th:href="@{/css/mainCodefolio.css}" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&amp;subset=latin-ext" rel="stylesheet">

    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
</head>
<body>


<div th:include="fragments/header :: header"></div>

<main>
    <div class="container">

        <header>

            <h1 style="text-align:center">CODEFOLIO</h1>

        </header>

        <div class="row">
            <div class="col-12 col-md-5 offset-md-1">

                <!--
                <figure>
                    <a th:href="@{/{devName}(devName=${adam.name})}">
                        <img th:src="@{/images/{photo}(photo=${adam.photo})}" alt="Adam Stępień">
                    </a>
                    <figcaption>
                        <p th:text="${adam.name}"></p>
                        <p th:text="${adam.surname}"></p>
                    </figcaption>
                </figure>
            </div>
            <div class="col-12 col-md-5">

                <figure>
                    <a th:href="@{/{devName}(devName=${tomek.name})}">
                        <img th:src="@{/images/{photo}(photo=${tomek.photo})}" alt="Tomasz Szczucki">
                    </a>
                    <figcaption>
                        <p th:text="${tomek.name}"></p>
                        <p th:text="${tomek.surname}"></p>
                    </figcaption>


                    <!-- bootstrap class text-center -->

<!--
                </figure>
                -->
            </div>
        </div>

    </div>
</main>

<div th:include="fragments/footer :: footer"></div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
        $('.dropdown-toggle').dropdown();
    });

</script>
<script>
    $('.navbar-nav>li>a').on('click', function () {
        $('.navbar-collapse').collapse('hide');
    });

</script>
</body>
</html>

